.list {
  padding: 1rem 0rem;
  width: 100%;
  column-gap: 3rem;
  
  &_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }
}