@import "../../../scss/_mixins.scss";

.title {
  font-family: 'Teko', sans-serif;
  font-size: 60px;
  height: 70px;
  
  @include breakpoint(media_desktop_lg) {
    font-size: 80px;
    height: 95px;
  }
  
  @include breakpoint(media_nest_hub) {
    font-size: 60px;
    height: 70px;
  }

  @include breakpoint(media_desktop_extra_lg) {
    font-size: 120px;
    height: 140px;
  }
}