@import "../../../scss/_variables.scss";

.room {
  &_input_container {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    gap: 1.5rem;

    &_block {
      display: flex;
      flex-direction: column;
      justify-items: flex-start;
      gap: 1rem;

      &_label {
        color: $primary;
        font-size: 1.1rem;
        font-weight: 600;
      }

      &_input_wrapper {
        justify-content: flex-start !important;

        &_input {
          width: 100%;
          background: $common_bg;
          border-radius: 10px !important;
        }
      }
    }
  }

  &_types_options_container {
    display: block;
    width: 100%;

    h4 {
      color: $secondary_two;
      font-size: 1.1rem;
      font-weight: normal;
      margin-bottom: 2rem;

      span {
        color: $primary;
        font-weight: 600;
      }
    }

    &_options_blocks {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 1rem 0;
      cursor: pointer;

      div {
        text-align: center;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
      }

      &_type {
        border-radius: 13px;
        object-fit: cover;
        transition: 0.3s ease-in-out;
        border: 2px dashed transparent;
        text-align: center;
        &.active {
          background: $common_bg;
          // border: 2px dashed $primary;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        }

        img {
          width: 150px;
          height: 150px;
        }
      }
    }
  }

  &_existing_card_container {
    &_title {
      font-size: 1.5rem;
      font-weight: 700;
      color: $dark;
      line-height: 1.4;
      margin-bottom: 0.5rem;
    }

    &_description {
      font-size: 1rem;
    }

    &_list {
      color: $dark;
      font-weight: 500;
      column-gap: 0;
      padding: 0rem;

      &_item {
        padding: 0 !important;
      }
    }
  }

  &_card_btn {
    padding: 0.8rem 2rem !important;
    margin: 0 !important;
    margin-top: 0.5rem !important;
    border-radius: 10px !important;
    background: rgba($primary, 0.2);
    font-weight: 550 !important;
  }
}