@import "../../../scss/_variables.scss";
@import "../../../scss/_mixins.scss";

.nav_items {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  &_wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;

    .logout_btn{
      background-color: rgba($color: $orange, $alpha: 0.2);
      color: $orange;
      font-weight: bold;
      padding: 0.8rem 1.3rem;
    }
  
    &_avatar {
      @include breakpoint (media_desktop_lg){
        width: 40px !important;
        height: 40px !important;
        padding: 0.2rem !important;
      }
    }
  
    &_devider {
      background-color:$grey_light;
      width: 1.5px;
      height: 30px;
    }
  }

}