@import "../../../../scss/_variables.scss";
@import "../../../../scss/_mixins.scss";

.input_container_box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem !important;

  &_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &_error_text{
      color: $error;
    }

    .input_box {
      border-radius: 0px 20px 20px 0px;
      width: auto;
      max-width: 150px;

      @include breakpoint(media_desktop_extra_lg){
        width: 260px;
        font-size: 1.8rem;
      }
    }
  }

  &_outer_loader {
    margin-top: 1rem;
    
    &_y {
      border: 6px solid $yellow !important;
      border-left: 6px solid transparent !important;
      border-right: 6px solid transparent !important;
    }

    &_x{
      border: 6px solid $white !important;
      border-left: 6px solid transparent !important;
      border-right: 6px solid transparent !important;
    }
    
  }
 
  button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border-radius: 1rem;
    font-weight: 600;
  }

  @include breakpoint(media_desktop_extra_lg){
    p {
      font-size: 22px;
    }

    button {
      padding: 15px 25px;
      font-size: 1.5rem;
    }
  }

}