$dark: #121212;
$dark_light: #000000 ; 
$white: #ffffff ;
$primary: #063970;
$primary_light: #063970;
$grey_dark: #6f6f6f;
$grey_light: #d3d3d3;
$yellow: #ffbc45;
$orange: #ff5959;
$orange_light: #ff5959;
$input_bg: #d9d9d9;
$common_bg: #F3F4F6;
$secondary_one: #A4AAB1;
$secondary_two: #989B9D;
$navbar_text: #8E9198;
$error: red;
$green: #22CB5C;

$media-desktop: "only screen and (max-width : 1024px)";
$media-tablet: "only screen and (max-width : 768px)";
$media-mobile: "only screen and (max-width : 600px)";
$media-mobile-sm: "only screen and (max-width : 480px)";
