@import "../../../scss/_variables.scss";
@import "../../../scss/_mixins.scss";


p > span {
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  
  &:hover {
    border-bottom: 1px solid $white;
  }
  
}

@include breakpoint (media_desktop_extra_lg){
  
  p {
    font-size: 26px;
  }
  
  button {
    font-size: 24px;
  }
}

@include breakpoint (media_nest_hub){
  button {
    font-size: 14px;
  }
}